<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

	<nav class="navbar cr-navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
	     <form class="navbar-form navbar-right">
	      <ul class="nav navbar-nav navbar-right">
	        <li>
				<!-- Split button -->
				<div class="btn-group cr-btn-group">
				  <button type="button" class="btn btn-danger btn-sm gradient">craitz</button>
				  <button type="button" class="btn btn-danger btn-sm dropdown-toggle gradient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="caret"></span>
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <ul class="dropdown-menu">
				    <li><a href="#">Informações</a></li>
				    <li role="separator" class="divider"></li>
				    <li><a href="#">Logout</a></li>
				  </ul>
				</div>
			</li>
	      </ul>
	     </form>
	
		 <div class="navbar-header cr-navbar-header">
		 	<a class="navbar-brand cr-navbar-brand" href="#">
				<img alt="Natacao" th:src="@{/images/logo.png}"/>
			</a>
		</div>
	  </div>
	</nav>
</html>