<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout-links">
	
	<head>
		<title>Página inicial</title>
	</head>	

	<section layout:fragment="conteudo">
		<div class="jumbotron">
		  <div class="container">
			<h1>Bem-vindo ao Sistema Treinos!</h1>
			<h4><i>Spring Tool Suite, Spring MVC, Spring Boot, Thymeleaf, Bootstrap, JPA + Hibernate, Maven, REST, MySql</i></h4>
		  </div>
		</div>
	</section>
</html>